@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Playfair+Display&display=swap');
*{
    transition: background-color 500ms ease;
}
body {
    font-family: 'Red Hat Display', Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (prefers-color-scheme: light){
    body{
        background-color: rgb(146, 133, 129);
    }
}

.container {
    background-color: #e9e7e7;
    width: 30vw;
    height: 60vh;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y: scroll;
}

h1{
    font-family: 'Playfair Display', sans-serif;
    margin-top: -1%;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
#useNow, #useTd{
    margin-left: 5%;
    width: 30%;
}

button, #rSwitchMode {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    width: 10vw;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 200ms ease !important;
}
button:active, #rSwitchMode:active{
    background-color: #409142;
}
#switchMode, .remove{
    background-color: #af4c4c;
}
#switchMode:active, .remove:active{
    background-color: #914040;
}
#back{
    background-color: rgb(100,100,100);
}
#back:active{
    background-color: rgb(130,130,130);
}
label{
    cursor: pointer;
}
@media only screen and (max-width: 600px){
    .container{
        height: 70vh;
        width: 100vw;
    }
    button{
        width: 90vw;
    }
}